.header
  width: 80%
  display: flex
  justify-content: center
  align-items: center
  background-color: $blue-dark
  height: 90px
  width: 100vw
  label
    font-weight: bold
    color: white
  .label-container
    font-family: 'Roboto'
    height: 50px
    width: 75px
    background-color: grey
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
  input
    border: none
    border-radius: 5px
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    margin: 0 25px
    margin-left: 0
    padding: 0 0
    padding-left: 15px
    height: 50px
    width: 450px
    font-family: 'Roboto'
  input:nth-of-type(2)
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    margin-right: 0
  button
    height: 50px
    background-color: #041c26
    border: none
    width: 100px
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    cursor: pointer
    color: white
    font-family: 'Roboto'
    font-size: 16px
.centered
  padding-right: 25px
  padding-top: 5px
  padding-bottom: 5px
  color: white
  background-color: $blue-dark
  font-size: 80px
  position: fixed
  top: 30%
  left: 48%
  transform: translate(-50%, -50%)
.red
  padding-top: 5px
  padding-bottom: 5px
  color: $blue-dark
  background-color: white
  padding-left: 25px
